.button {
  padding: 0 20px;
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  border: none;
  font-weight: bold;
  font-size: 12px;
  height: 40px;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 1px;
  max-height: 40px;
  max-width: fit-content;
}

.disabled {
  background-color: var(--color-disabled);
}
