.table {
  padding: 0;
  margin: 1rem 0;
  width: 100%;
  max-width: 260px;
  min-width: 260px;
  background: transparent;
  color: var(--color-text-primary);
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  border: none;
  font-family: Roboto;
}

.tableHead th {
  display: none;
  color: var(--color-text-primary);
  cursor: pointer;
}

.tableBody tr::before {
  content: " ";
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.tableBody td {
  display: block;
  height: 30px;
  overflow: hidden;
  max-height: 30px;
  display: flex;
  justify-content: space-between;
}

.tableBody tr {
  background-color: #fff;
  border: none;
}

.tableHead th,
.tableBody td {
  margin: 0.5rem 0;
  border: none;
}

.username {
  color: var(--color-secondary);
  font-weight: bold;
}

.tableBody td:not(.noData)::before {
  content: attr(data-th) ": ";
  font-weight: bold;
  display: inline-block;
  color: var(--color-text-primary);
}

.tableBody td.noData {
  text-align: center;
}

.tableBody td:first-child {
  padding-top: 0.5rem;
}

.tableBody td:last-child {
  padding-bottom: 0.5rem;
}

.edit {
  background-image: url("../../assets/svg/pen-to-square-solid.svg");
}

.delete {
  background-image: url("../../assets/svg/trash-solid.svg");
}

.icon {
  padding: 0.5rem;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: invert(45%);
}

.actionsContainer button {
  margin-left: 1rem;
}

.actionsContainer button:first-child {
  margin: 0;
}

@media (min-width: 480px) {
  .tableContainer {
    max-width: 620px;
  }

  .table {
    min-width: 300px;
    max-width: 620px;
  }

  .tableHead th,
  .tableBody td {
    display: table-cell;
    padding: 0.5rem;
    text-align: left;
  }

  .tableBody tr::before {
    display: none;
  }

  .tableHead th:first-child,
  .tableBody td:first-child {
    padding-left: 0;
  }

  .tableHead th:last-child,
  .tableBody td:last-child {
    padding-right: 0;
  }

  .table .tableBody td::before {
    display: none;
  }
}

@media (min-width: 1025px) {
  .tableContainer {
    max-width: 760px;
  }

  .table {
    min-width: 760px;
    font-size: 16px;
  }
}

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */
