.tableContainer {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.table {
  margin: 16px 0;
  min-width: 280px;
  max-width: 320px;
  min-height: 50px;
  background: var(--color-primary);
  color: var(--color-text-primary);
  border-radius: calc(4rem / 16);
  overflow: hidden;
  text-align: center;
}

.tableBody .tr {
  border-color: var(--color-primary);
}

.tableHead th {
  display: none;
  color: var(--color-text-secondary);
}

.tableBody td {
  display: block;
}

.tableHead th,
.tableBody td {
  margin: 8px 16px;
  text-align: left;
}

.tableHead th::before,
.tableBody td::before {
  color: var(--color-text-secondary);
}

.tableBody td::before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: calc(104rem / 16);
  display: inline-block;
}

.tableBody td:first-child {
  padding-top: calc(8rem / 16);
}

.tableBody td:last-child {
  padding-bottom: calc(8rem / 16);
}

@media (min-width: 480px) {
  .table {
    padding: calc(8rem / 16);
    width: 300px;
  }

  .tableHead th,
  .tableBody td {
    display: table-cell;
    padding: 4px 8px;
  }

  .tableHead th:first-child,
  .tableBody td:first-child {
    padding-left: 0;
  }

  .tableHead th:last-child,
  .tableBody td:last-child {
    padding-right: 0;
  }

  .tableBody td::before {
    display: none;
  }
}

.edit {
  background-image: url("../../assets/svg/pen-to-square-solid.svg");
}

.delete {
  background-image: url("../../assets/svg/trash-solid.svg");
}

.icon {
  padding: 10px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: invert(75%);
}

.toolsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */
