:root {
  --color-bg-primary: #edeef9;
  --color-primary: #ffffff;
  --color-secondary: #525ce4;
  --color-text-primary: #001e20;
  --color-accent: #00365c;
  --color-text-secondary: #ffffff;
  --color-disabled: #edeef9;

  /* 
Primary color: #0072C6 (dark blue)
Secondary color: #55B948 (green)
Accent color: #F2A900 (yellow/orange)
Background color: #F5F5F5 (light grey)
Text color: #333333 (dark grey)
  */
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeef9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
}

#root {
  margin: 0 auto;
}
